.git
.gitignore
.github
.venv
.venv-*
__pycache__
*.pyc
*.pyo
.pytest_cache
.ruff_cache
.mypy_cache

node_modules
dist

data/

docs/references/*.pdf
docs/*.pdf
*.pdf

.idea
.vscode
.DS_Store

config.toml
